<table id="courses_list" class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>User Name</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <% course.students.each do |student| %>
        <tr>
          <td><%= course.course_name %></td>
          <td><%= student.user_name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

